<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213240793812-n835l58uas9h4i4qpb28l8m7aqls9l16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213240793812-n835l58uas9h4i4qpb28l8m7aqls9l16</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213240793812-3ljsc2cdpukucl5tbt01cd8gcdjdfknf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBRkhU9BvuRZUg7w39ke-TmnA-RYsE120</string>
	<key>GCM_SENDER_ID</key>
	<string>213240793812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jadwali</string>
	<key>PROJECT_ID</key>
	<string>jad-mtechub</string>
	<key>STORAGE_BUCKET</key>
	<string>jad-mtechub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213240793812:ios:fc0603f4d0feed50778941</string>
</dict>
</plist>